body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
}

.app-container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

h1 {
    margin-bottom: 20px;
}