.search-form {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 15px;
}

.search-form label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.search-form button {
  grid-column: 1 / -1;
  padding: 10px;
  font-size: 16px;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-form button:hover {
  background-color: #005fa3;
}
